WebApplication1/Service References/ServiceReference1/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit/RentIt22/Server.Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:import schemaLocation="http://rentit/RentIt22/Server.Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="Type" type="q1:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="FileTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransfer" nillable="true" type="tns:FileTransfer" />
  <xs:complexType name="FileInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="Type" type="q2:FileType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileInfo" nillable="true" type="tns:FileInfo" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfo" nillable="true" type="tns:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfo" nillable="true" type="tns:ArrayOfFileInfo" />
  <xs:complexType name="Package">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Item">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FileIds" nillable="true" type="q3:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ArrayOfPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:Package" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackage" nillable="true" type="tns:ArrayOfPackage" />
  <xs:complexType name="Right">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="Type" type="q4:RightType" />
      <xs:element minOccurs="0" name="Until" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Right" nillable="true" type="tns:Right" />
</xs:schema>